body {
    /* margin: 0; */
    border: 2px solid lightblue;
    background-image: url(../img/bg3.GIF);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.title {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: lightseagreen;
    text-align: center;
    border: 3px solid blue;
    padding: 4px;
    margin: 40px
}
.title.odin {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-bottom: 70;
    color: rgb(36, 189, 36);
    opacity: 4;
}
