body{
   background-color: yellow;
}
.title{
    padding: 10px;
    margin: 4px;
}
.title.krabby{
    margin: 8px;
    font-size: 24px;
    padding: 5px;
    text-align: center; 
}
.move{
    position: absolute;
    top: 7%;
    left: 50%;
    padding-right: 5px;
}

.sublist{
    color: rgb(4, 25, 46);
    display: inline-block;
}

.list{
    color: red;
}